/* ===================== IMPORTS ===================== */

/* ===================== VARIABLES ===================== */
:root {
  --primary-color: #ffffff;
  --secondary-color: #d3d3d3;
  --background-color: #000000;
  --header-color: #1c1c1c;
  --border-color: #444444;
  --font-stack: "Roboto", sans-serif;
  --btn-color: #39ff14;
  --accent-color: #1e90ff;
}

/* ===================== SEARCH GROUP ===================== */
.search-group {
  min-width: 180px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

/* ===================== LOGOTIPO ===================== */
.logotype {
  height: 30px;
  width: auto;
  margin-left: 8px;
}

@media (max-width: 575.98px) {
  .logotype {
    height: 24px;
  }
}

/* ===================== HEADER & NAVBAR ===================== */
header {
  background-color: var(--header-color);
}
nav.navbar {
  padding: 18px 24px !important;
}
@media (max-width: 991.98px) {
  nav.navbar {
    padding: 18px 12px !important;
  }
  .navbar-collapse {
    padding: 24px 0;
  }
  .navbar-nav > .nav-item {
    margin-bottom: 12px;
  }
  .navbar-nav > .nav-item:last-child {
    margin-bottom: 0;
  }
}

/* ===================== LOGO ===================== */
.logo {
  margin-right: 30px;
  width: 72px;
}

/* ===================== BOTÓN UNIFICADO ===================== */
.btn-accent {
  background-color: var(--btn-color);
  color: #000000;
  font-weight: 500;
}
.btn-accent:hover {
  background-color: #1767b8;
  color: #fff;
}
.login-signup-btn {
  border-radius: 16px;
  width: 40px;
  height: 40px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.login-signup-btn .bi {
  font-size: 1.2rem;
}

/* ===================== NAVBAR ITEMS ===================== */
.navbar-items a {
  font-family: var(--font-stack);
}

/* ===================== SEARCH BAR ===================== */
.search-bar {
  width: 100%;
  max-width: 500px;
  min-width: 180px;
  background-color: var(--background-color);
  border-radius: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  color: var(--primary-color);
}
.search-bar::placeholder {
  padding-left: 0px;
  color: #6c757d;
  opacity: 1;
}

/* ===================== BODY ===================== */
body {
  background-color: var(--background-color);
  color: #ffffff;
}

.about_us{
font-family: var(--font-stack);

}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}
.team-member {
  text-align: center;
}
.team-member img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 3px solid #ffffff;
}

.py-5{
  color: var(--primary-color);
  background-color: black;
}


.team-member img {
width: 150px;
height: 150px;
object-fit: cover;
border-radius: 50%;
margin-bottom: 1rem;
border: 3px solid #dee2e6;
}



