<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Level-Up Gamer</title>
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/admin.css" />
    <link rel="icon" type="image/png" href="../../img/isotype.png" />
  </head>
  <body>
    <div class="d-flex" id="admin-wrapper">
      <!-- Sidebar -->
      <div id="admin-sidebar"></div>

      <!-- Page Content -->
      <main id="page-content-wrapper">
        <div class="container-fluid py-4">
          <div class="row">
            <!-- Contenido principal -->
            <div class="col-md-12">
              <div id="admin-dashboard"></div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- Scripts -->
    <script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../js/components.js"></script>
    <script src="../../js/main.js"></script>
  </body>
</html>
