<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acerca de Nosotros - Level-Up Gamer</title>
    <link
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../node_modules/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="../css/main.css" rel="stylesheet" />
    <link href="../css/layout.css" rel="stylesheet" />
    <link href="../css/components.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="../img/isotype.png" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header id="main-header"></header>

    <main>
      <div class="container mt-5">
        <section class="p-5 mb-4 rounded-3 about-us-section">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Acerca de Nosotros</h1>
            <p class="col-md-8 fs-4">
              Level-Up Gamer es una tienda online dedicada a satisfacer las
              necesidades de los entusiastas de los videojuegos en Chile.
              Lanzada hace dos años como respuesta a la creciente demanda
              durante la pandemia.
            </p>
            <a href="#nuestra-historia" class="btn btn-primary btn-lg"
              >Leer Más</a
            >
          </div>
        </section>
        <section
          id="nuestra-historia"
          class="row featurette d-flex align-items-center mb-5"
        >
          <div class="col-md-7">
            <h2 class="featurette-heading">Nuestra Historia</h2>
            <p class="lead">
              La historia de Level-Up Gamer comenzó hace dos años, en respuesta
              a la creciente necesidad de equipos de videojuegos de calidad
              durante la pandemia. Al darnos cuenta de que el mercado chileno
              carecía de opciones accesibles, un grupo de amigos apasionados por
              el gaming decidimos crear nuestra propia solución. Así nació
              Level-Up Gamer, una tienda online construida sobre la pasión y el
              compromiso de ofrecer una amplia gama de productos—desde consolas
              y accesorios hasta PCs y sillas especializadas—con envíos a todo
              Chile. Aunque no tenemos una tienda física, nuestra misión es
              sencilla: democratizar el acceso al gaming de calidad y seguir
              creciendo junto a nuestra comunidad de jugadores.
            </p>
          </div>
          <div class="col-md-5">
            <a href="https://via.placeholder.com/500" target="_blank">
              <img
                src="/img/logo.png"
                alt="Logo de Level-Up Gamer"
                class="img-fluid rounded"
              />
            </a>
          </div>
        </section>

        <hr class="my-5" />

        <section class="text-center mb-5">
          <h2>Conoce a nuestro equipo</h2>
          <p class="lead">
            Nuestro éxito se basa en el talento y la dedicación de nuestra
            gente.
          </p>
        </section>

        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="team-member text-center">
              <img
                src="https://i.scdn.co/image/ab67616d0000b2733b39bcd8de83c8216a3b8aed"
                alt="Matías Gutiérrez - CEO & Fundador"
              />
              <h4>Matías Gutiérrez</h4>
              <p>CEO & Fundador</p>
              <p>El mati es el mati.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="team-member text-center">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4ncQRMcUHj3BWXmiVyP6EF0zSOCHjC10log&s"
                alt="Victor Mena - Lead Developer"
              />
              <h4>Victor Mena</h4>
              <p>Lead Developer</p>
              <p>Victor fue el creativo y diseñador de ni una wea.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="team-member text-center">
              <img
                src="https://images.steamusercontent.com/ugc/2010325254754256127/7147805E93161E42DC1F06F9E8EA84C096606436/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true"
                alt="David Larenas - Marketing Director"
              />
              <h4>David Larenas</h4>
              <p>Marketing Director</p>
              <p>Yo soy yo.</p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer id="main-footer"></footer>

    <script src="/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/components.js"></script>
    <script src="/js/cart.js"></script>
  </body>
</html>