<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog - Level-Up Gamer</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap-icons/font/bootstrap-icons.css"
    />
    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="icon" type="image/png" href="../img/isotype.png" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <!-- Header Component -->
    <header id="main-header"></header>

    <main class="container py-5">
      <h1 class="mb-4 text-center">Blogs</h1>
      <div id="blog-container" class="row g-4"></div>
    </main>

    <!-- Footer Component -->
    <footer id="main-footer"></footer>

    <!-- Scripts -->
    <script src="/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/cart.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/blog.js"></script>
  </body>
</html>
