<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito - Level-Up Gamer</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css"
    />
    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="icon" type="image/png" href="../../img/isotype.png" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <!-- Header Component -->
    <div id="header"></div>

    <!-- Contenido principal -->
    <main class="flex-grow-1 container-fluid py-4">
      <!-- Contenedor del carrito -->
      <div id="cart-container"></div>
    </main>

    <!-- Footer Component -->
    <div id="footer"></div>

    <!-- Scripts -->
    <script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../js/components.js"></script>
    <script type="module" src="../../js/core/app.js"></script>
  </body>
</html>
